[INT:NumDocks]
12

[INT:index]
0

[STRING-21:label]
ビュワー###Viewer

[FLOAT-2:pos]
196.000 209.000

[FLOAT-2:size]
884.000 577.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
2

[INT:index]
1

[STRING-35:label]
ビュワー操作###ViewerControls

[FLOAT-2:pos]
196.000 786.000

[FLOAT-2:size]
884.000 102.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
2

[INT:index]
2

[STRING:label]


[FLOAT-2:pos]
196.000 209.000

[FLOAT-2:size]
884.000 679.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
0

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
0

[INT:child1]
1

[INT:parent]
4

[INT:index]
3

[STRING-29:label]
ノードツリー###NodeTree

[FLOAT-2:pos]
1080.000 684.000

[FLOAT-2:size]
380.000 204.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
4

[STRING:label]


[FLOAT-2:pos]
196.000 209.000

[FLOAT-2:size]
1264.000 679.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
0

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
2

[INT:child1]
6

[INT:parent]
-1

[INT:index]
5

[STRING-22:label]
共通###BasicSettings

[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 475.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
-1

[INT:next]
7

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
6

[STRING:label]


[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 679.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
0

[INT:prev]
-1

[INT:next]
-1

[INT:child0]
5

[INT:child1]
3

[INT:parent]
4

[INT:index]
7

[STRING-17:label]
位置###Position

[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 475.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
5

[INT:next]
8

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
8

[STRING-17:label]
回転###Rotation

[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 475.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
7

[INT:next]
9

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
9

[STRING-14:label]
拡大###Scale

[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 475.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
8

[INT:next]
10

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
10

[STRING-34:label]
描画共通###BasicRenderSettings

[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 475.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
1

[BOOL:opened]
1

[INT:prev]
9

[INT:next]
11

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

[INT:index]
11

[STRING-23:label]
描画###RenderSettings

[FLOAT-2:pos]
1080.000 209.000

[FLOAT-2:size]
380.000 475.000

[FLOAT-2:floatmode_size]
0.000 0.000

[ENUM:status]
0

[BOOL:active]
0

[BOOL:opened]
1

[INT:prev]
10

[INT:next]
-1

[INT:child0]
-1

[INT:child1]
-1

[INT:parent]
6

